@import url("fonts.css");
@import url("reset.css");

body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
}

#container {
	margin: 0 auto;
}

.header {
	background-color: #e1e1e1;
	border-bottom: 2px solid #bfbfbf;
	border-top: 2px solid #bfbfbf;
	box-shadow: 0 0 3px #bfbfbf;
	height: 70px;
}

.header .wrap {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	padding-top: 0px;
}

@media (max-width: 850px) {
	.header .wrap {
		padding: 0;	
	}
    
	.header .wrap #topmenu {
		font-size: 90%;
	}
	
    .top_1 {
		font-size: 200px;
	}
	
	.top_2 {
		font-size: 90%;
	}
	
}

.header .header_left {
	align-self: center;
}

.header .header_right {
	color: #dd5555;
	display: flex;
	justify-content: space-between;
	font-family: Tahoma;
	font-size: 13px;
	margin-top: 15px;
}

#topmenu {	
    font-family: rsr;
	font-size: 15px;
    color: #808080;
	padding-top: 13px;
}

#topmenu a {
	color: #4D4D4D;
	text-decoration: none;
	font-size: 115%;
}

#topmenu a:hover {
	color: #dd5555;
}

.banner {
	border-bottom: 2px solid #bfbfbf;
	overflow: hidden;
	position: relative;
	font-size: 80%;
	height: 400px;
}

.back {
    background-image: url("../banners/banner.jpg");
    background-size: cover;
    position: absolute;
    top: -10px; /* Компенсация краевого эффекта */
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    filter: blur(1px);
    z-index: 0;
}

h1 {
	display: block;
	padding-top: 70px;
	font-size: 450%;
	font-family: brook;
	color: #ffffff;
	text-align: center;
	position: absolute;
	z-index: 1;
}

h2 {
	display: block;
	padding-top: 70px;
	font-size: 250%;
	font-family: brook;
	color: #ffffff;
	text-align: center;
	position: absolute;
	top: 40%;
	z-index: 1;
}

@media (max-width: 850px) {
	
    h1 {
		font-size: 350%;
	}
	
	h2 {
		font-size: 200%;
	}
	
}




.content {
	background-color: #FFCADC;
	border-bottom: 2px solid #bfbfbf;
	padding: 20px 0;

}

.content .wrap {
	margin: 0 auto;
	padding: 0 30px;

}

.top_1 {
	font-family: rsl;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.top_2 {
	font-family: rsl;
	font-size: 200%;
	text-align: center;
}

@media (max-width: 850px) {
    .top_1 {
		font-size: 200%;
	}
	
	.top_2 {
		font-size: 200%;
	}
	
}



.content #gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;

}

.content #gallery .element {
	background-color: #f9f9f9;
	border: 1px solid #bfbfbf;
	border-radius: 15px;
	box-shadow: 0 0 5px #dadada;
	overflow: hidden;
	position: relative;
	margin: 10px 0;
	width: 28%;
    white-space: normal;
}



.content #gallery .element .top img {
	height: 100%;
	width: 100%;
}


.content #gallery .element .bottom {
	
	padding: 15px 15px;
}


.content #gallery .element .bottom img {

	height: 200px;
	width: 200px;
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.content #gallery .element:hover img {
	display: block;
	border-radius: 10px;
}


.content #gallery .element .bottom .name {
	color: #4d4d4d;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: rsl;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}



.content #gallery .element .bottom .cost {
	color: #dd5555;
	font-family: rsl;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 850px) {
    .content #gallery .element .bottom .name {
		font-size: 90%;
	}
	
	.content #gallery .element .bottom .cost {
		font-size: 100%;
	}
	
}


.price {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	margin: 15px 20%;
	
}

.price img {
	border-radius: 10px;
	width: 40%;
}
.studio {
	background-color: #e9e9e9;
	padding-bottom: 50px;
	border-bottom: 2px solid #bfbfbf;
		
}

.st_content {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
	
}

.st_content img {
	margin-top: 5px;
	width: 18%;
}


.st_header {
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
    font-family: rsl;
	font-size: 200%;
	font-weight: bold;
}

.st_header .first {
	color: #5E5E5E;
	text-align: center;
    font-family: rsl;
	font-size: 120%;
	font-weight: bold;
}

.st_header .second {
	color: #5E5E5E;
	margin-top: 20px;
	text-align: center;
    font-family: rsl;
	font-size: 80%;

}

.master {
	background-color: #FFCADC;
}

.mas_content {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
	
}

.mas_content img {
	margin-top: 5px;
	width: 150px;
	height: 200px;
}

.mas_footer {
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
    font-family: rsl;
	font-size: 200%;
	font-weight: bold;
}

.zoom {
	transition: transform 0.2s;
}

.zoom:hover {
	transform: scale(2);
}


.mas_first {
	font-family: rsl;
	margin-bottom: 10px;
}

.mas_second {
	font-size: 50%;
	text-align: center;
}

.mas_third {
	font-size: 50%;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
}

.wrap_gallery {
   background: url("../images/reviews/back.jpg") repeat;
   border-top: 1px solid #bfbfbf;
   padding-bottom: 20px;
   text-align: center;
}

.rev {
	color: #4D4D4D;
	font-size: 200%;
	font-family: Soledago;
	margin-top: 20px;
	margin-bottom: 20px;
}


.visible {
	display: none;
}


.footer {
	background-color: #e1e1e1;
	border-top: 1px solid #bfbfbf;
	box-shadow: 0 0 5px #dadada;
	padding: 15px 0;
}

.footer .wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 15px;

}

.footer .left {
	width: 20%;
}

@media (max-width: 850px) {
    .footer .left {
       display: none;
	}
	
}

.footer .center {
	color: #555;
	text-align: left;
	font-family: rsr;
	font-size: 150%;
	margin-top: 40px;
	margin-left: 5px;
	width: 20%;
}

@media (max-width: 850px) {
    .footer .center {
		font-size: 110%;
	}
	
	.footer .center {
		font-size: 110%;
	}
	
}



.footer .social {
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.footer .social p {
	color: #555;
	font-size: 130%;
	font-family: rsr;
	margin: 15px 0;
}


.footer .social li {
	padding-left: 20px;
	position: relative;
	font-size: 100%;
	font-family: rsl;
	font-weight: bold;
	margin: 10px 0;
}

.footer .social li.vk:before {
	background: url("../ico/vk.png") no-repeat;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 15px;
	width: 15px;	
}


.footer .social li.telegram:before {
	background: url("../ico/tel.png") no-repeat;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 15px;
	width: 15px;	
}



.footer .social li.online:before {
	background: url("../ico/online.png") no-repeat;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 15px;
	width: 15px;	
}


#footer_bottom {
	border-top: 1px solid #bfbfbf;
	box-shadow: 0 0 3px #e9e9e9;
	padding: 15px 0;
} 

#footer_bottom .wrap {
	display: flex;
	padding: 0 15px;
	justify-content: space-between;
}

#footer_bottom .wrap .left {
	display: flex;
	flex-wrap: wrap;
}

#footer_bottom .wrap .left p {
	color: #979797;
}


#footer_bottom .wrap .right {
	color: #8e8e8e;
}

#footer_bottom .wrap .right a {
	color: #dd5555;
	font-weight: bold;
	text-decoration: none;
}



